<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <img src = 'img/logo-mercado-liebre.svg' alt="logo-mercado-liebre"/>
        <br>
        <input type ='text' name="barrabusqueda" id="barra" placeholder="Buscar Productos"/>
        <i class="fa-solid fa-magnifying-glass"></i> 
        <br>
        <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href = "#">Ofertas</a></li>
                <li><a href = "#">Tiendas Oficiales</a></li>
                <li><a href = "#">Vender</a></li>
                <li><a href = "#">Ayuda</a></li>
                <br>
                <li><a href = "#">Creá tu cuenta</a> <i class="fa-solid fa-id-card"></i></li>
                <li><a href = "#">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li> 
                <li><a href = "#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <section>
                <h2>Basado en tu ultima visita</h2>
        <article class="producto">
            <img src = "img/img-cafetera-moulinex.jpg" alt = "Cafetera">
            <br>
            <div class="circulo">
                <i class="fa-solid fa-truck-moving"></i>
            </div>
             <p class="precio">$6.770</p>
            <p class="descuento">40% OFF</p>
            <br>
            <p class="descripcion">Cafetera Moulinex</p>
        </article>
        <br>
        <article class="producto">
            <img src = "img/img-macbook-pro-2019.jpg" alt = "Macbook">
            <br>
            <div class="circulo">
                <i class="fa-solid fa-truck-moving"></i>
            </div>
            <p class="precio">$230.000</p>
            <p class="descuento">20% off</p>
            <br>
            <p class="descripcion">MacBook Pro 2019</p>
        </article>
        <br>
        <article class="producto">
            <img src = "img/img-samsung-galaxy-s10.jpg" alt = "Galaxy">
            <br>
            <div class="circulo">
                <i class="fa-solid fa-truck-moving"></i>
            </div>
            <p class="precio">$70.500</p>
            <p class="descuento">10% off</p>
            <br>
            <p class="descripcion">Samsung Galaxy S10</p>
        </article>
        <br>
        <article class="producto">
            <img src = "img\img-tv-samsung-smart.jpg" alt = "Tv">
            <br>
            <div class="circulo">
                 <i class="fa-solid fa-truck-moving"></i>
            </div>
            <p class="precio">$23.200</p>
            <p class="descuento">5% off</p>
            <br>
            <p class="descripcion">SmartTv Samsung 43"</p>
        </article>
        </section>
        <br>
        <section>
            <h2>Sección de Ofertas</h2>
            <article class="oferta">
                <img src = "img/img-cafetera-moulinex.jpg" alt = "Cafetera">
                <br>
                <div class="circulo">
                    <i class="fa-solid fa-truck-moving"></i>
                </div>
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <br>
                <p class="descripcion">Cafetera Moulinex</p>
            </article>
            <br>
            <article class="oferta">
                <img src = "img/img-macbook-pro-2019.jpg" alt = "Macbook">
                <br>
                <div class="circulo">
                    <i class="fa-solid fa-truck-moving"></i>
                </div>
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
                <br>
                <p class="descripcion">MacBook Pro 2019</p>
            </article>
            <br>
            <article class="oferta">
                <img src = "img/img-samsung-galaxy-s10.jpg" alt = "Galaxy">
                <br>
                <div class="circulo">
                    <i class="fa-solid fa-truck-moving"></i>
                </div>
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                <br>
                <p class="descripcion">Samsung Galaxy S10</p>
            </article>
            <br>
            <article class="oferta">
                <img src = "img\img-tv-samsung-smart.jpg" alt = "Tv">
                <br>
                <div class="circulo">
                     <i class="fa-solid fa-truck-moving"></i>
                </div>
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
                <br>
                <p class="descripcion">SmartTv Samsung 43"</p>
            </article>
        </section>
    </main>
        <br>
    <footer>
        <i class="fa-regular fa-credit-card"></i>
        <h3>Pagá con tarjeta o efectivo</h3>
        <p>Con MercadoLiebreCash tenés cuotas sin intéres con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        <br>
        <i class="fa-solid fa-gift"></i>
        <h3>Envio gratis desde los $ 2.500</h3>
        <p>Solo por estar registrado en Mercado Liebre tenés envios gratis en miles de productos. Es un beneficio de Mercado Punto.</p>
        <br>
        <i class="fa-solid fa-user-shield"></i>
        <h3>Seguridad de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En MercaloLiebre no hay nada que puedas hacer porque  estás siempre protegid@.</p>
        <br>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>